<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-ubisurveykiosk" version="0.0.1">
    <name>UbisurveyKiosk</name>

    <description>Ubisurvey Kiosk Plugin</description>
    <license>MIT</license>

    <keywords>cordova,android,toast,message,alert</keywords>
    <repo>https://github.com/joaopedr0/cordovaplugin.git</repo>
    <issue>https://github.com/joaopedr0/cordovaplugin/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/UbisurveyKiosk.js" name="UbisurveyKiosk">
        <clobbers target="window.plugins.UbisurveyKiosk" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="UbisurveyKiosk">
                <param name="android-package" value="cordova.plugin.Kiosk"/>
            </feature>
        </config-file>

        <source-file src="src/android/UbisurveyKiosk.java" target-dir="src/cordova/plugin" />
    </platform>
</plugin>