<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-ubisurveykiosk" version="0.0.1">
    <name>ToastyPlugin</name>

    <description>Ubisurvey Kiosk Plugin.</description>
    <license>MIT</license>

    <keywords>cordova,android,toast,message,alert</keywords>
    <repo>https://github.com/joaopedr0/cordovaplugin.git</repo>
    <issue>https://github.com/joaopedr0/cordovaplugin/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/UbisurveyKiosk.js" name="ubisurveyKiosk">
        <clobbers target="window.plugins.ubisurveyKiosk" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="UbisurveyKiosk">
                <param name="android-package" value="com.cordova.plugin.UbisurveyKiosk"/>
            </feature>
        </config-file>

        <edit-config file="AndroidManifest.xml" target="/manifest/application/activity[@android:label='@string/activity_name']" mode="merge">
            <activity android:name="com.cordova.plugin.KioskActivity" android:keepScreenOn="true" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            </activity>
        </edit-config>

        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity[@android:label='@string/activity_name']">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.DEFAULT" /><!-- Handler of app icon (required to be launcher) -->
                    <category android:name="android.intent.category.HOME" /><!-- Handler of Home button -->
                </intent-filter>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- autorun after the app APK is updated -->
            <receiver android:name="com.cordova.plugin.MyPackageReplacedEventReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                </intent-filter>
            </receiver>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
                <uses-permission android:name="android.permission.REORDER_TASKS"/>
                <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
        </config-file>

        <source-file src="src/android/UbisurveyKiosk.java" target-dir="src/com/cordova/plugin" />
        <source-file src="src/android/KioskActivity.java" target-dir="src/com/cordova/plugin" />
        <source-file src="src/android/MyPackageReplacedEventReceiver.java" target-dir="src/com/cordova/plugin" />
        <source-file src="src/android/StatusBarOverlay.java" target-dir="src/com/cordova/plugin" />

    </platform>
</plugin>